*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    margin-bottom: 0.5rem;
}
ol, ul{
    padding: 0px;
}
dl, ol, ul{
    margin: 0px;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
header{
    background-color: transparent;
    position: relative;
    z-index: 1;
}

/*Phan header Infor */

.header_infor{
    width:100%;
    background-color: transparent;
}
.header_infor_container{
    display: flex;
    
    justify-content: space-between;
    margin: 0px auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding:15px 0px 0px;
    color:#fff;
}
.header_infor_p{
    border-bottom: 3px solid #fbc50b;
    
}
.header_infor_follow{
    display: flex;
}
.header_infor_follow p{
    margin-right: 20px;
}
.header_infor_follow_icons a{
    margin: 0px 5px;
    transition: .3s;
}
.header_infor_follow_icons a:hover{
    color: #fbc50b;
}
/*Phan header Main */
.header_main{
    position: relative;
    z-index: 2;
}
.header_main_container{
    display: flex;
    max-width: 1260px;
    margin: 0px auto;
    justify-content: space-between;
    background: url(../images/pattern-bg.png),#009a4e;
    align-items: center;
    background-size: cover;
    background-position: center;
    padding:28px 90px;
    border-radius: 10px;
    position: relative;
}
.header_main_container::before{
    content: '';
    width:97%;
    height:10px;
    background-color:#000;
    opacity: .2;
    position: absolute;
    top:100%;
    left:1.5%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.header_main_img img{
    height:48px;
}
.header_main_menu_ul{
    display: flex;
}

.header_main_menu_ul li{
    list-style: none;
    position: relative;
    padding:15px 0px;
    
}

.header_main_menu_ul a{
    text-decoration: none;
    margin: 0px 15px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color:#fff;
    transition: .5s;
}
.header_main_icons{
    display: flex;
    justify-content: space-between;
    color:#fff;
    cursor: pointer;
    margin-top: 6px;
}
.header_main_icons i{
    font-size: 27px;
    font-weight: 100;
}
.header_main_icons_search{
    margin-right: 90px;
    
}

.header_main_menu_ul2{
    display: none;
   position: absolute;
   background-color: #fbc50b;
   border-radius: 10px;
   top:100%;
   left:20%;
   transition: .5s;
}
.header_main_menu_ul2 li{
    white-space: nowrap;
    padding: 5px 15px 5px !important;
    margin: 0px !important;
    text-align: left;
    transition: .5s;
}
.header_main_menu_ul2 li a{
    color:#fff !important;

}

.header_main_menu_ul li:hover .header_main_menu_ul2{
    display: block;
}

.header_main_menu_ul li:hover a{
    color:#fbc50b;
}
.header_main_menu_ul2 li:hover{
    transform: translateX(7%);
}


.header_main_icons .offcanvas-start{
    background: url(../images/pattern-bg.png),#000;
    background-position: center;
    background-size: cover;
}
.offcanvas-start .container_offcanvas{
    padding: 30px 20px;
}
.offcanvas-header img{
    height:48px;
    
}
.offcanvas-body_p1{
    font-size: 17px;
    color:rgba(255, 255, 255, 0.696);
    margin: 30px 0px;
    
}
.offcanvas-body_img{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.offcanvas-body_img img{
    height:auto;
    max-width: 49%;
}
.offcanvas-body_contact{
    margin-bottom: 30px;
}
.offcanvas-body_contact h3{
    font-family: 'Dangrek', cursive;
    font-size: 24px;
    border-bottom: 4px solid #fbc50b;
    display: inline-block;
    padding-bottom: 2px;
    margin-bottom: 20px;
}
.offcanvas-body_contact p{
    font-size: 16px;
    color:rgba(255, 255, 255, 0.696);
}

.offcanvas-body_contact a{
    font-size: 18px;
    color:rgba(255, 255, 255, 0.696);
    text-decoration: none;
    
}
.offcanvas-body_follow h3{
    font-family: 'Dangrek', cursive;
    font-size: 24px;
    border-bottom: 4px solid #fbc50b;
    display: inline-block;
    padding-bottom: 2px;
    margin-bottom: 20px;
}
.offcanvas-body_follow .icons{
    display: flex;
    margin-bottom: 88px;
}

.offcanvas-body_follow .icons a{
    color: #fff;
    margin-right: 30px;
}
.offcanvas-body_follow .icons a i{
    font-size: 17px;
    
}
.offcanvas-body_p2{
    color:rgba(255, 255, 255, 0.696);
    font-size: 13px;
}
.menu_mobile{
    display: none;
}
body{
    overflow: hidden;
    padding-right: 0px !important;
}

.btn-close{
    display: none;
}